ol {
    list-style-type: none;
    counter-reset: my-number;
}

ol li {
    counter-increment: my-number;
    color: var(--color-yellow-dark-3);
}

ol li:not(:last-child) {
    margin-bottom: 14px;
}

ol li::before {
    content: counter(my-number) ". ";
    color: var(--color-red-dark);
    font-weight: 700;
    font-size: 18px;
}

.result {
    font-size: 16px;
    letter-spacing: 1px;
}

@media (min-width: 2200px) {
    .result {
        font-size: 30px;
        line-height: 50px;
    }

    ol li:not(:last-child) {
        margin-bottom: 30px;
    }

    ol li::before {
        font-size: 35px;
    }
}

@media (max-width: 540px) {
    .result {
        font-size: 11px;
    }
}

.time {
    font-weight: 700;
}

@media (max-width: 540px) {
    ol li {
        font-size: 12px;
    }

    ol li::before {
        font-size: 13px;
    }

    ol li:not(:last-child) {
        margin-bottom: 10px;
    }
}