.button {
    height: 62.5px;
    width: 262.5px;
    background-color: hsl(44, 85%, 96%);
    border: 3px solid var(--color-yellow-main);
    color: var(--color-yellow-dark1);
    border-radius: 37.5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    transition: all .3s;
}

.button:hover, .button.active {
    cursor: pointer;
    color: var(--color-tertiary-dark3);
    border: 3px solid var(--color-tertiary-dark3);
    background-color: var(--color-tertiary-light3);
}

@media (min-width: 2200px) {
    .button {
        height: 110px !important;
        width: 700px !important;
        border-radius: 70.5px;
        font-size: 35px;
    }
}

@media (max-width: 426px) {
    .button {
        width: 320px !important;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .button {
        width: 258px !important;
        font-size: 12.5px;
    }
}