:root {
/* PRIMARY COLOR */
--color-yellow-light1: hsl(44, 85%, 95%);
--color-yellow-light2: rgb(247, 219, 141);
--color-yellow-light3: #F6D579;
--color-yellow-main: rgb(245, 204, 92);
--color-yellow-dark1: #F4C952;
--color-yellow-dark2: #F3C33F;
--color-yellow-dark3: #F2BD2C;

/* SECONDARY COLOR */
--color-black-light1: hsl(65, 2%, 28%);
--color-black-light2: #3E3E3C;
--color-black-light3: #343432;
--color-black-main: #242423;
--color-black-dark1: #1F1F1E;
--color-black-dark2: #151514;
--color-black-dark3: #0A0A0A;

/* TERTIARY COLOR */
--color-tertiary-light1: #F3F6F4;
--color-tertiary-light2: hsl(140, 15%, 92%);
--color-tertiary-light3: hsl(147, 15%, 88%);
--color-tertiary-main: hsl(150, 14%, 84%);
--color-tertiaty-dark1: #C5D3CC;
--color-tertiary-dark2: #B9CAC2;
--color-tertiary-dark3: #AEC2B8;

/* ACCENTS COLORS */
--color-white: rgb(255, 255, 255);
--color-light-light3: #F6F8F2;
--color-light-main: #E8EDDF;
--color-light-dark-1: #E3E9D8;
--color-light-dark-2: #DAE2CB;
--color-light-dark-3: #D0DABE;

--color-dark-light1: hsl(120, 2%, 32%);
--color-dark-light2: #464946;
--color-dark-light3: #3C3E3C;
--color-dark-main: #333533;
--color-dark-dark1: #282A28;
--color-dark-dark2: #1E1F1E;
--color-dark-dark3: #141514;

--color-red-dark: hsl(0, 63%, 40%);
--color-red-dark3: 207, 41, 41;

/* NEUTRAL COLORS */
--color-gray-light1: hsl(0, 0%, 96%);
--color-gray-light2: hsl(0, 0%, 92%);
--color-gray-light3: rgb(224, 224, 224);
--color-gray-main: hsl(0, 0%, 84%);
--color-gray-dark1: hsl(0, 0%, 80%);
--color-gray-dark2: hsl(0, 0%, 76%);
--color-gray-dark3: hsl(0, 0%, 72%);

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-black-dark3);
  font-size: 16px;
}





